HELP.md
.env
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
generated
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Log File ###
.logs
/src/main/resources/db/migration/V5__insert_test_data.sql.disabled
/src/test/java/com/stylemycloset/cloth/service/SqlQueryTest.java
/test_queries.sql
/actual_sql_queries.sql

### macOS ###
.DS_Store
storage/.DS_Store

### Local-Binary-File ###
.stylemycloset/storage
.stylemycloset/storage/test